header {
  text-align: center;
  line-height: 30px;
  .guide {
    margin: 10px 0;
    display: flex;
    justify-content: space-around;
  }
}

hr {
  margin: 10px 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  .main {
    display: grid;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 100px 100px 100px;
    .unit {
      background: #444;
      color: #eee;
      font-size: 40px;
      font-weight: bold;
      border: 1px solid #777;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
