html,
body {
  min-width: 320px;
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-weight: 300;
}

#__nuxt,
#__layout {
  width: 100%;
  height: 100%;
}

.layout {
  position: relative;
  min-height: 100%;
  > * {
    width: 100%;
  }
}
